body {
	color: #444;
	font-size: 16px;
	font-family: "Libre Baskerville", Baskerville, serif;
	line-height: 1.5em;
}

a {
	color: #f66;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

hr {
	height: 1px;
	margin: 2em;
	border: 0;
	background: #ddd;
}

sup {
	vertical-align: super;
	font-size: smaller;
}


/* start topbar */

#topbar {
	background: #eee;
	border-bottom: 1px solid #ccc;
	text-align: center;
}

.social {
	font-family: 'bbrks_icons';
	font-size: 2em;
	padding: 1em 0;
}

.social li { display: inline-block; }

.social li a {
	padding: 0.4em;
	color: #ccc;
	text-decoration: none;
}

.social li a:hover { color: #f66; }

/* end topbar */
/* start content */

#content {
	max-width: 700px;
	margin: 0 auto;
	padding: 0 1em;
}

.post {
	margin: 1.5em 0;
	padding-top: 1.5em;
}

.post + .post {
	border-top: 1px solid #ddd;
	margin: 7em 0;
	padding-top: 7em;
}

h2 {
	text-align: center;
	color: #222;
	font-size: 3.5em;
	line-height: 1.3em;
	margin-bottom: 0.4em;
}

h2 a {
	color: #222;
}

h2 a:hover {
	color: #f66;
	text-decoration: none;
}

.datetime {
	text-align: center;
	font-size: 1.5em;
	color: #ddd;
	font-style: italic;
	margin-bottom: 1.5em;
}

h3 {
	padding-bottom: 1em;
	font-size: 1.4em;
	line-height: 1.5em;
}

.post p + p {
	padding-top: 1em;
}

blockquote p:first-letter {
	text-transform: uppercase;
	float: left;
	margin: .3em .1em 0 .1em;
	font-size: 3em;
}

blockquote.smallcap p:first-letter {
	font-size: 1em;
}

blockquote, .highlight {
	color: #888;
	background: #f5f5f5;
	background: rgba(0,0,0,0.05);
	margin: 1.5em 0;
	padding: 1em;
	border-left: 3px solid #f66;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.highlight {
	color: #444;
}

p img {
	width: 100%;
	max-width: 100%;
}

/* end content */
/* start footer */

#footer {
	text-align: center;
	color: #ccc;
	margin-bottom: 2em;
}

.heart {
	color: #f66;
}

/* end footer */
/* start misc */

.social li a, .social li a:hover, h2 a, h2 a:hover {
	-webkit-transition: .25s color;
	-moz-transition: .25s color;
	-o-transition: .25s color;
	transition: .25s color;
}

.clearfix { clear: both; }

::-moz-selection {color: #fff;background:#f66;}
::selection {color: #fff;background: #f66;}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

    body {
        font-size: 12px;
    }

    h2 {
        font-size: 2em;
    }

}
