@font-face {
	font-family: 'bbrks_icons';
    font-style: normal;
    font-weight: 400;
	src: url('font/bbrks_icons.eot');
	src: url('font/bbrks_icons.eot?#iefix') format('embedded-opentype'),
		 url('font/bbrks_icons.woff') format('woff'),
		 url('font/bbrks_icons.ttf') format('truetype'),
		 url('font/bbrks_icons.svg#bbrks_icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    color: #444;
    font-size: 18px;
    font-family: "Libre Baskerville", Baskerville, serif;
    line-height: 1.5em;
}

a {
    color: #f66;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* start topbar */

#topbar {
    background: #eee;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.social {
    font-family: 'bbrks_icons';
    font-size: 2em;
    padding: 1em 0;
}

.social li { display: inline-block; }

.social li a {
    padding: 0.4em;
    color: #ccc;
    text-decoration: none;
}

.social li a:hover { color: #f66; }

/* end topbar */
/* start content */

#content {
    max-width: 700px;
    margin: 0 auto;
}

.post {
    margin: 1.5em 0;
    padding-top: 1.5em;
}

.post + .post {
    border-top: 1px solid #ddd;
}

h2 {
    text-align: center;
    color: #222;
    font-size: 3.5em;
    line-height: 1.2em;
    margin-bottom: 0.4em;
}

h2 a {
    color: #222;
}

h2 a:hover {
    color: #f66;
    text-decoration: none;
}

.datetime {
    text-align: center;
    font-size: 1.5em;
    color: #ddd;
    font-style: italic;
    margin-bottom: 1.5em;
}

h3 {
    padding-bottom: 1em;
    font-size: 1.25em;
}

.post p + p {
    padding-top: 1em;
/*    text-indent: 3em;*/
}

blockquote p:first-letter {
    text-transform: uppercase;
	float: left;
	margin: .3em .1em 0 .1em;
	font-size: 3em;
	font-style: italic;
}

blockquote {
	color: #888;
	background: #f5f5f5;
    background: rgba(0,0,0,0.05);
	margin: 1.5em 2em;
	padding: 1em;
	border-left: 3px solid #f66;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

/* end content */
/* start footer */

#footer {
    text-align: center;
    color: #ccc;
    margin-bottom: 2em;
}

.heart {
    color: #f66;
}

/* end footer */
/* start misc */

.social li a, .social li a:hover, h2 a, h2 a:hover {
    -webkit-transition: .25s color;
    -moz-transition: .25s color;
    -o-transition: .25s color;
    transition: .25s color;
}

.clearfix { clear: both; }

::-moz-selection {color: #fff;background:#f66;}
::selection {color: #fff;background: #f66;}
